.circles {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    background-color: #04ABE2;
    border-radius: 50%;
    transition: transform 0.3s, filter 0.3s, bottom 0.2s, left 0.2s,top 0.2s, right 0.2s;
    position: absolute;
    transform-origin: center center;
  }
  
  .circle1 {
    width: 150px;
    height: 150px;
    top: 15%;
    left: 15%;
  }
  
  .circle2 {
    width: 90px;
    height: 90px;
    top: 20%;
    right: 15%;
  }
  
  .circle3 {
    width: 100px;
    height: 100px;
    bottom: 20%;
    left: 15%;
  }
  
  .circle4 {
    width: 120px;
    height: 120px;
    bottom: 40%;
    right: 10%;
  }
  
  .circle5 {
    width: 230px;
    height: 230px;
    top: 40%;
    left: 40%;
  }
  
  /* .circle.hovered {
    transform: scale(2.5);
    transform-origin: top left;
    z-index: 10;
    transition-delay: 0.2s;
  }
   */
/* Shift effects for all circles */
.circle.shift {
  filter: blur(5px);
  transition-delay: 0.2s;
  
}

.circle1.shift {
  transform: translate(140px, -40px);
  transition-delay: 0.2s;
}

.circle2.shift {
  transform: translate(-50px, 15px);
  transition-delay: 0.2s;
}

.circle3.shift {
  transform: translate(60px, 40px);
  transition-delay: 0.2s;
}

.circle4.shift {
  transform: translate(0, 50px);
  transition-delay: 0.2s;
}

.circle5.shift {
  transform: translate(50px, -50px);
  transition: all;
  transition-delay: 0.2s;
}
  
  /* Hover effects for circle1 */
.circle1:hover {
  transform: scale(2.6);
  transform-origin: top left;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle2 {
  transform: translate(-90px, -20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle3 {
  transform: translate(-45px, 20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle4 {
  transform: translate(-90px, 20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle5 {
  transform: translate(80px, 180px);
  transition-delay: 0.2s;
}

/* Hover effects for circle2 */
.circle2:hover {
  transform: scale(3.8);
  transform-origin: top right;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle3 {
  transform: translate(300px, 80px);
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle4 {
  transform: translate(-10px, 190px);
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle5 {
  transform: translate(-210px, -20px);
  transition-delay: 0.2s;
}

.circle3:hover {
  transform: scale(3.5);
  transform-origin: bottom left;
  z-index: 10;
  bottom: 10%;
  left: 15%;
}

.circle3:hover ~ .circle.circle4 {
  transform: translate(-80px, 20px);
  transition-delay: 0.2s;
}
.circle3:hover ~ .circle.circle5 {
  transform: translate(140px, 160px);
  width: 180px;
  height: 180px;
  transition-delay: 0.2s;
}


.circle4:hover {
  transform: scale(2.7);
  transform-origin: bottom right;
  z-index: 10;
  transition-delay: 0.2s;
  bottom: 15%;
  right: 23%;
}
.circle4:hover ~ .circle.circle5 {
  transform: translate(-180px, -10px);
  transition-delay: 0.2s;
  width: 140px;
  height: 140px;
}



.circle5:hover {
  transition-delay: 0.2s;
}