.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #151515;
  color: #fff;
}

.text-content h1 {
  font-size: 2.5rem;
}

.text-content .highlight {
  color: #04ABE2;
}

.text-content p {
  margin-top: 16px;
  font-size: 1.2rem;
}

.circles {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: #04ABE2;
  border-radius: 50%;
  transition: transform 0.3s, filter 0.3s;
  position: absolute;
  transform-origin: center center;
}

.circle1 {
  width: 150px;
  height: 150px;
  top: 15%;
  left: 15%;
}

.circle2 {
  width: 90px;
  height: 90px;
  top: 20%;
  right: 15%;
}

.circle3 {
  width: 100px;
  height: 100px;
  bottom: 20%;
  left: 15%;
}

.circle4 {
  width: 120px;
  height: 120px;
  bottom: 40%;
  right: 10%;
}

.circle5 {
  width: 230px;
  height: 230px;
  top: 40%;
  left: 40%;
}

/* Hover effects for each circle */
.circle1:hover {
  transform: scale(2.6);
  transform-origin: top left;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle2 {
  transform: translate(-90px, -20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle3 {
  transform: translate(-45px, 20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle4 {
  transform: translate(-90px, 20px);
  transition-delay: 0.2s;
}
.circle1:hover ~ .circle.circle5 {
  transform: translate(80px, 180px);
  transition-delay: 0.2s;
}

.circle2:hover {
  transform: scale(3.8);
  transform-origin: top right;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle1 {
  transform: translate(-50px, 0);
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle3 {
  transform: translate(300px, 80px);
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle4 {
  transform: translate(-10px, 190px);
  transition-delay: 0.2s;
}
.circle2:hover ~ .circle.circle5 {
  transform: translate(-210px, -20px);
  transition-delay: 0.2s;
}

.circle3:hover {
  transform: scale(3.5);
  transform-origin: bottom left;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle3:hover ~ .circle.circle1 {
  transform: translate(0, -50px);
  transition-delay: 0.2s;
}
.circle3:hover ~ .circle.circle2 {
  transform: translate(50px, 0);
  transition-delay: 0.2s;
}
.circle3:hover ~ .circle.circle4 {
  transform: translate(-50px, 0);
  transition-delay: 0.2s;
}
.circle3:hover ~ .circle.circle5 {
  transform: translate(0, 50px);
  transition-delay: 0.2s;
}

.circle4:hover {
  transform: scale(2.5);
  transform-origin: bottom right;
  z-index: 10;
  transition-delay: 0.2s;
}
.circle4:hover ~ .circle.circle1 {
  transform: translate(0, 50px);
  transition-delay: 0.2s;
}
.circle4:hover ~ .circle.circle2 {
  transform: translate(-50px, 0);
  transition-delay: 0.2s;
}
.circle4:hover ~ .circle.circle3 {
  transform: translate(50px, 0);
  transition-delay: 0.2s;
}
.circle4:hover ~ .circle.circle5 {
  transform: translate(0, -50px);
  transition-delay: 0.2s;
}

.circle5:hover {
  transform: scale(1.8);
  z-index: 10;
  transition-delay: 0.2s;
}
.circle5:hover ~ .circle.circle1 {
  transform: translate(50px, 120px);
  transition-delay: 0.2s;
}
.circle5:hover ~ .circle.circle2 {
  transform: translate(0, 50px);
  transition-delay: 0.2s;
}
.circle5:hover ~ .circle.circle3 {
  transform: translate(0, -50px);
  transition-delay: 0.2s;
}
.circle5:hover ~ .circle.circle4 {
  transform: translate(-50px, 0);
  transition-delay: 0.2s;
}

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
  }

  .text-content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .circle1 {
    width: 100px;
    height: 100px;
  }

  .circle2 {
    width: 60px;
    height: 60px;
  }

  .circle3 {
    width: 70px;
    height: 70px;
  }

  .circle4 {
    width: 90px;
    height: 90px;
  }

  .circle5 {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 600px) {
  .circle1 {
    width: 80px;
    height: 80px;
  }

  .circle2 {
    width: 50px;
    height: 50px;
  }

  .circle3 {
    width: 60px;
    height: 60px;
  }

  .circle4 {
    width: 70px;
    height: 70px;
  }

  .circle5 {
    width: 100px;
    height: 100px;
  }
}
