@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-image {
  display: none;
}

@keyframes sprinkle {
  0% { transform: translateY(-10px); opacity: 0.5; }
  50% { transform: translateY(10px); opacity: 1; }
  100% { transform: translateY(-10px); opacity: 0.5; }
}

.sprinkle-animation {
  position: relative;
  overflow: hidden;
}

.sprinkle-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  animation: sprinkle 1.5s infinite;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .hero-image {
    display: block;
  }
}

/* Assuming you are using Tailwind CSS */
.circle {
  transition: transform 0.3s, filter 0.3s;
  position: relative;
}

.circle:hover {
  transform: scale(1.5);
  z-index: 10;
}

.circle1 {
  top: 0;
  left: 0;
}

.circle2 {
  top: 0;
  right: 0;
}

.circle3 {
  bottom: 0;
  left: 0;
}

.circle4 {
  bottom: 0;
  right: 0;
}

.circle5 {
  top: 50%;
  left: 50%;
}

.circle:hover ~ .circle {
  filter: blur(5px);
}

.phone,
.email,
.submit-btn,
.header-btn,
.hero-btn,
.featured-btn {
  position: relative;
  overflow: hidden;
}

.phone::before,
.email::before,
.submit-btn::before,
.header-btn::before,
.hero-btn::before,
.featured-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #04abe2;
  transition: left 0.6s ease;
  border-radius: 0rem 9999px 9999px 0;
}

.phone:hover::before,
.email:hover::before,
.submit-btn:hover::before,
.header-btn:hover::before,
.hero-btn:hover::before,
.featured-btn:hover::before {
  left: 0;
  border-radius: 0rem 9999px 9999px 0;
}

.phone,
.email,
.phone-text,
.email-text,
.submit-btn,
.submit-btn > span,
.header-btn,
.header-btn > span,
.hero-btn,
.hero-btn > span,
.featured-btn,
.featured-btn > span,
.featured-btn > img {
  position: relative;
  z-index: 1;
}


@keyframes bubbleUp {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.header2 {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header2.opacity-100 {
  opacity: 1;
}

.header2.opacity-0 {
  opacity: 0;
}

/* marquee animation for hero section anim text */
.marquee-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; /* Initial offset */
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}