@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-image {
  display: none;
}

@keyframes sprinkle {
  0% { transform: translateY(-10px); opacity: 0.5; }
  50% { transform: translateY(10px); opacity: 1; }
  100% { transform: translateY(-10px); opacity: 0.5; }
}

.sprinkle-animation {
  position: relative;
  overflow: hidden;
}

.sprinkle-animation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  animation: sprinkle 1.5s infinite;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .hero-image {
    display: block;
  }
}

/* Assuming you are using Tailwind CSS */
.circle {
  transition: transform 0.3s, filter 0.3s;
  position: relative;
}

.circle:hover {
  transform: scale(2.4); /* Scale the circle to 120% on hover */
  z-index: 500; /* Ensure hovered circle is above others */
}
